.app-header{
    display: grid;
    color: aliceblue;
    background-color: darkslategray;
    text-align: center;
    grid-template-columns: 1fr 10fr 1fr;
  }
h1{
    grid-column: 2/3;
}

#sign-out {
  grid-column: 3/4;
}

.main-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 4fr 2fr 4fr;
  height: 100vh;
}

.sign-in {
  height: 100%;
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: darkslategray;
  font-size: 30pt;
}

.dashboard {
  display: flex;
  width: 100%;
  grid-column: 1/4;
  grid-row: 2/3;
  justify-content: center;
  align-content: center;
}

.current_game_backbutton{
  background-color: blue;
  width: 20%;
  height: 5vh;
}

#newgame_button{
  background-color: blue;
  width: 20%;
  height: 5vh;
}
